<h2 id="title">Welcome to Ember addon</h2>

{{e-rrssb shareUrl="https://www.emberaddons.com/?page=2" email=true  
facebook=true
tumblr=true
linkedin=true
xing=true
twitter=true
reddit=true
vk=true
googleplus=true
pocket=true
pinterest=true}}
{{outlet}}
